body {
    font-family: 'Times New Roman', Times, serif;
    /* color: gray; */
}

.navbar {
    background: white;
    color: gray;
}

.nav-item a {
    color: rgb(106, 106, 106);
}

.navbar-brand {
    background-color: #019f9f;
    padding: 10px;
}

.navbar-brand h4 {
    color: white;
    font-weight: bold;
}

@media (max-width: 576px) {
    .navbar-text h4 {
        color: white;
    }
    .nav-item a {
        color: white;
    }
    .custom-toggler.navbar-toggler {
        border-color: lightgray;
    }
    .custom-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(106, 106, 106)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
    .navbar {
        background: #019f9f;
        /* color: white; */
    }
    .dropdown-menu {
        background-color: transparent;
        border: none;
    }
}